<!-- 底部 -->
<footer class="navbar navbar-inverse navbar-fixed-bottom wh" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <a href="dailishang_main.html">
                    <div class="col-xs-4 col-sm-4 tu_middle tu_middle2">
                        <span class="glyphicon glyphicon-home active"></span>
                        <em class="active">首页</em>
                    </div>
                </a>
                <div class="col-xs-4 col-sm-4 tu_middle tu_middle2 se">
                    <span class="glyphicon glyphicon-comment"></span>
                    <em>消息</em>
                </div>
                <a href="dailishang_xx.html">
                    <div class="col-xs-4 col-sm-4 tu_middle tu_middle2 fi">
                        <span class="glyphicon glyphicon-user "></span>
                        <em>我的</em>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>